name=current
title=Current ThinkPad Wi-Fi DHCP profile
interface=wlan0
kind=wifi
addressing=dhcp
dhcp_backend=dhcpcd
wifi_backend=iwd
wifi_cli=iwctl
dns_source=dhcpcd-resolv.conf
route_source=dhcpcd
remote_access=sshd
service_network=network
service_wifi=wifi
service_remote=sshd
mutable=false
