schema = 1

[time]
rtc = "utc"

[logging]
max_size_kib = 1024
rotations = 7

[devices]
manager = "mdev"

[volumes]
automount = true
read_only = true
filesystems = "vfat ext2 ext3 ext4 xfs btrfs"

[network]
mode = "dhcp"
interface = "auto"
link_timeout_seconds = 12
timeout_seconds = 45
address = ""
netmask = "255.255.255.0"
gateway = ""
dns = ""

[openzfs]
policy = "adaptive"
arc_max_percent = 50
arc_cap_mib = 16384
reserve_mib = 512
arc_min_mib = 64
storage_class = "auto"