schema = 1
release = "MixtarRVS-1.1-MWM"
architecture = "x86_64"
source_date_epoch = 1784160000

[components.pixman]
version = "0.46.4"
url = "https://cairographics.org/releases/pixman-0.46.4.tar.xz"
archive = "pixman-0.46.4.tar.xz"
source_dir = "pixman-0.46.4"
sha256 = "a098c33924754ad43f981b740f6d576c70f9ed1006e12221b1845431ebce1239"

[components.xkbcommon]
version = "1.13.2"
url = "https://github.com/xkbcommon/libxkbcommon/archive/refs/tags/xkbcommon-1.13.2.tar.gz"
archive = "libxkbcommon-1.13.2.tar.gz"
source_dir = "libxkbcommon-xkbcommon-1.13.2"
sha256 = "acc4d5f7c3cbba5f9f8d08d8bdbeede84ecede46792f47929aa9321873385528"

[components.xkeyboard_config]
version = "2.48"
url = "https://xorg.freedesktop.org/archive/individual/data/xkeyboard-config/xkeyboard-config-2.48.tar.xz"
archive = "xkeyboard-config-2.48.tar.xz"
source_dir = "xkeyboard-config-2.48"
sha256 = "b77041324f0109f77161ee43743fe04baa485866af8460d31e476ad3f7648fd5"

[components.wlroots]
version = "0.20.2"
url = "https://gitlab.freedesktop.org/wlroots/wlroots/-/releases/0.20.2/downloads/wlroots-0.20.2.tar.gz"
archive = "wlroots-0.20.2.tar.gz"
source_dir = "wlroots-0.20.2"
sha256 = "80c567d2ed4efb2cfa6b077f22c7a710d9c78ba4e185a75e8694001114af0733"
patch = "Patches/wlroots-0.20.2-mixtar-runtime.patch"
patch_sha256 = "a19a30b7bc7a7c3391dc77456a20998ccb85ff401b139f8383c7106a80d48441"
