schema = "mixtar.mddm.v1"
profile = "production"

[display]
backend = "drm"
renderer = "pixman"
allow_software_renderer = true

[session]
provider = "libseat"
backend = "builtin"
socket = "/System/Runtime/Seats/seatd.sock"

[input]
provider = "libinput"
device_manager = "mdev"
udev_compatibility = "libudev-zero"
quirks = "/System/Resources/Input/libinput"

[compatibility]
x11 = false
xwayland = false
